body {
  padding-top: 60px;
  padding-bottom: 40px;
  overflow-y: scroll;
}

.zf-green {
  color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
  margin-left: 0;
  padding: 8px 20px 12px 40px;
}

.products-list .panel {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  width: 220px;
}

.products-list {
  text-align: center;
  font-size: 0.82em;
}

.products-list .panel-heading {
  font-weight: bold;
  padding: 5px;
}

.products-list .list-group-item {
  padding: 2px;
}

.products-list .panel-body {
  padding: 5px;
}

.products-list .list-group {
  margin-bottom: 5px;
}

.products .thumbnails {
  list-style: none;
  text-align: justify;
}

.products .thumbnails img {
  height: 240px;
}

.products .thumbnails li:hover {
  margin-bottom: -100%;
  z-index: 1;
  cursor: pointer;
}

.products .thumbnails li {
  display: inline-block;
  width: 250px;
  margin: 10px;
  vertical-align: top;
  position: relative;
}

.thumbnail {
  border: none;
  box-shadow: none;
}

.thumbnail:hover {
  border: none;
}

.products .thumbnails li .info {
  text-align: justify;
  padding: 12px;
  /*display: none;*/
}

.products .thumbnails li .thumbnail {
  /*width: 250px;*/
  /*margin:0 auto;*/
}

.products .thumbnails li .thumbnail:hover {
  border-color: #5bc0de;
  box-shadow: 0 0 6px rgba(42, 171, 210, 0.6);
  border-radius: 0;
  /*width: 300px;*/
}

.products .thumbnails h5 {
  height: 30px;
  color: #333;;
  text-align: center;
}

.products .thumbnails h4.price {
  text-align: right;
  padding: 0 10px;
  color: #333;
}

.products .thumbnails a:hover h5 {
  text-decoration: underline;
}

.products .thumbnails a:hover {
  text-decoration: none;
}

.product_content {
  width: 85%;
  margin: 0 auto;
}

.product_content > div img {
  margin-right: 20px;
  width: 500px;
  height: 500px;
}

.product_content > div {
  display: inline-block;
  vertical-align: top;
}

.product_about > div {
  margin-bottom: 20px;
}

.product_about .price {
  font-weight: bold;
}

.price_block .nums {
  display: inline-block;
  width: 100px;
}

.product_content .img-thumbnail {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card_product > div {
  display: inline-block;
  vertical-align: top;
}

.card_product .cart-img {
  cursor: pointer;
  margin-right: 10px;
  height: 60px;
}

.cart_table .table td input[type="number"] {
  width: 88px;
}

.card_product .cart-info a {
  color: #333;
}

.cart_table .table td .price {
  padding-left: 10px;
}

.cart_table .table td {
  vertical-align: middle;
}

.my-modal .modal-body {
  text-align: center;
}

.sum {
  text-align: right;
  padding: 5px 150px;
}

footer {
  position: absolute;
  bottom: 0;
}

.my-navbar .navbar-nav > li > a,
.my-navbar .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
}

.navbar-brand {
  cursor: pointer;
}

.my-navbar.navbar {
  min-height: 41px;
}

.my-navbar .nav li a.shopping-cart {
  padding: 7px 2px;
}

.shopping-cart .glyphicon-shopping-cart {
  color: #ffffff;
  font-size: 23px;
}

#big_img {
  max-height: 420px;
}

.user-form.ng-invalid-required .ng-dirty.ng-invalid-required,
.user-form.ng-invalid-required .ng-dirty.ng-invalid-email {
  border-color: #d44950;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 175, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 175, 102, 0.6);
}

input.ng-invalid.ng-dirty {
  border-color: #d44950;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 175, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 175, 102, 0.6);
}

input.ng-valid.ng-dirty {

}

.user-form textarea {
  resize: none;
}

.main-carousel.carousel .carousel-caption {
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
}

.main-carousel.carousel .carousel-indicators {
  bottom: -25px;
  margin-bottom: 0;
}

.main-carousel.carousel .carousel-indicators li.active {
  background-color: #3c3c3c;
}

.main-carousel.carousel .carousel-indicators li {
  border-color: #3c3c3c;
}

.aboutUs {
  width: 90%;
  margin: 0 auto;
}

.cart {
  width: 90%;
  margin: 0 auto;
}

.active-header {
  color: #ffff00;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background: #bbbbbb;
}

.products {
  margin: 0 auto;
  width: 90%;
}

.back-arr, .next-arr {
  cursor: pointer;
}

.sort {
  cursor: pointer;
}

.panel {

  display: block;
}

.imginpnl {
  display: inline-block;
}

.imginpnl > div img {
  height: 70px;
  width: 70px;
  margin: 10px;
  transition: all 0.1s;

}

.imginpnl > div img:hover {
  border-color: #5bc0de;
  box-shadow: 0 0 2px rgba(42, 171, 210, 0.6);
  transform: scale(1.1);
  transition: all 0.1s;
}

a.tooltips {
  position: relative;
  display: inline;
}

a.tooltips span {
  position: absolute;
  color: #FFFFFF;
  background: #000;
  padding: 10px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
  min-width: 100px;
  z-index: 999;
}

.login-form {
  width: 50%;
  height: 40em;
  margin: 0 auto;
  display: block;
}

.adminSub {
  -moz-box-shadow: inset 0 1px 1px -41px #3174af;
  -webkit-box-shadow: inset 0 1px 1px -41px #3174af;
  box-shadow: inset 0 1px 1px -41px #3174af;
  background-color: transparent;
  border: 2px solid #3174af;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #3174af;
  font-size: 19px;
  padding: 6px 45px;
  text-decoration: none;
  transition: all 0.2s;
}

.adminSub:hover {
  background-color: #3174af;
  color: #ffffff;
  transition: all 0.2s;
}

.login-form > .input-group, .adminSub {
  left: -1em;
  margin-top: 1em;
}

.login-form > .adminSub {
  left: 0;
}

.login-form > .input-group {
  width: 90%;
  margin-top: 1em;
}

.login-form h1 {
  color: #3174af;
}

.login-form .input-group-addon {
  color: #3174af;
}

.button-href {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0.5em;
  color: #008B8B;
  border-color: #008B8B;
}

.button-href:hover {
  text-decoration: none;
  background-color: #008B8B;
}

a {
  cursor: pointer;
}

.main-canBuy {
  margin-top: 2em;
}

.row-canBuy {
  width: 100%;
}

.row-img {
  width: 400px;
  height: 200px;
}
