<div class="login-form panel panel-primary">
  <div class="panel-heading">Log In Administrator</div>
  <div class="panel-body">
    <h1>Log In Administrator</h1>
    <br>

    <form  name="logAdmin" novalidate>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Username</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" ng-model="user.userName" required/>
      </div>
      <br>

      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon2">Password</span>
        <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" ng-model="user.Password" required/>
      </div>
      <button type="submit" class="adminSub" ng-click="logAdmin.$valid?submitForm():errorSubmit()" >Log In</button>
    </form>
  </div>
</div>
