<!--Product page view Ctrl:'OneproductCtrl'-->
<div class="product_content">
  <ol class="breadcrumb">
    <li><a href="#/products/{{navigation.type}}/{{navigation.id}}">{{navigation.header}}</a></li>
    <li><a href="#/products/{{navigation.type}}/{{navigation.id}}">{{navigation.value}}</a></li>
    <li class="active"><span >{{data.title}}</span></li>
  </ol>
  <h2>{{data.title}}</h2>
  <div>
    <img src="{{data.img}}" alt="..." class="img-thumbnail">
  </div>
  <div class="product_about">
    <div class="info">
      <h4>Описание:</h4>
      <p>{{data.desp}}</p>
      <p>{{data.more_info}}</p>
    </div>
    <div class="links">
      <h4>Страница производителя:</h4>
      <div>Страница на польском сайте <a target="_blank" href="http://www.ikea.com/pl/pl/catalog/products/{{data.id}}/">здесь</a></div>
      <div>Страница на русском сайте <a target="_blank" href="http://www.ikea.com/ru/ru/catalog/products/{{data.id}}/">здесь</a>(может не существовать)</div>
    </div>
    <div class="price_block">
      <h4>Купить:</h4>
      <h1 class="price">{{price()}} грн</h1>
      <input type="number" ng-model="number" class="nums form-control" min=1 max=99 value="1">
      <button class="btn btn-info" ng-click="buy()"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
      <em>{{added}}</em>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
       <p>Далее {{navigation.value}}</p>
        <div class="imginpnl" ng-repeat="item in prd1">
          <div>
             <a href="#/product/{{item.id}}"><img src="{{item.img}}"></a>
          </div>
        </div>
       <p><a href="#/products/{{navigation.type}}/{{navigation.id}}">Перейти к {{navigation.value}}</a></p>
      </div>
    </div>
  </div>

</div>
