<!--Product page view-->
<div class="product_content" ng-init='init({"id":"80253809","list_id":"18723","list_type":"childrens_ikea","price":1717,"more_info":"\u0414\u043b\u0438\u043d\u0430: 209 \u0441\u043c,\n\t\t\t\t\t\t\u0428\u0438\u0440\u0438\u043d\u0430: 99 \u0441\u043c,\n\t\t\t\t\t\t\u0412\u044b\u0441\u043e\u0442\u0430: 116 \u0441\u043c","desp":"\u0434\u0432\u0443\u0441\u0442\u043e\u0440\u043e\u043d\u043d\u044f\u044f \u043a\u0440\u043e\u0432\u0430\u0442\u044c","href":"http:\/\/www.ikea.com\/pl\/pl\/catalog\/products\/80253809\/","img":"http:\/\/www.ikea.com\/PIAimages\/0179751_PE331953_S3.JPG","title":"\u041a\u042e\u0420\u0410","active":"1"})'>
  <ol class="breadcrumb">
    <li><a href="#/products">{{navigation.header}}</a></li>
    <li><a href="#/products/{{navigation.type}}/{{navigation.id}}">{{navigation.value}}</a></li>
    <li class="active"><span >{{data.title}}</span></li>
  </ol>
  <h2>{{data.title}}</h2>
  <div>
    <img src="{{data.img}}" alt="..." class="img-thumbnail">
  </div>
  <div class="product_about">
    <div class="info">
      <h4>Описание:</h4>
      <p>{{data.desp}}</p>
      <p>{{data.more_info}}></p>
    </div>
    <div class="links">
      <h4>Страница производителя:</h4>
      <div>Страница на польском сайте <a target="_blank" href="http://www.ikea.com/pl/pl/catalog/products/{{data.id}}/">здесь</a></div>
      <div>Страница на русском сайте <a target="_blank" href="http://www.ikea.com/ru/ru/catalog/products/{{data.id}}/">здесь</a>(может не существовать)</div>
    </div>
    <div class="price_block">
      <h4>Купить:</h4>
      <h1 class="price">{{price()}} грн</h1>
      <input type="number" ng-model="number" class="nums form-control" min=1 max=99 value="1">
      <button class="btn btn-info" ng-click="buy()"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
      <em>{{added}}</em>
    </div>
  </div>

</div>
